services:
  # Frontend (Static Site)
  - type: web
    name: reservacancha-frontend
    env: static
    staticPublishPath: ./frontend/dist/reservacancha-frontend 
    # The build command needs to be run from the frontend directory
    buildCommand: "cd frontend && npm install && npm run build"
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
  # Backend (Web Service)
  - type: web
    name: reservacancha-backend
    env: docker
    dockerfilePath: ./backend/Dockerfile
    dockerContext: ./backend
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: SPRING_DATASOURCE_URL
        # Usar la URL interna de la base de datos existente
        value: postgresql://reservacancha:JjpQXMjIRkwVwLEnrbep3T3YmhJrlAhA@dpg-d5qf88c9c44c73dltlag-a.ohio-postgres.render.com:5432/reservacancha
      - key: SPRING_DATASOURCE_USERNAME
        value: reservacancha
      - key: SPRING_DATASOURCE_PASSWORD
        value: JjpQXMjIRkwVwLEnrbep3T3YmhJrlAhA
