services:
  # Backend Spring Boot
  - type: web
    name: reservacancha-backend
    env: java
    plan: free
    buildCommand: cd backend && chmod +x mvnw && ./mvnw clean package -DskipTests
    startCommand: java -jar backend/target/reservacancha-backend-0.0.1-SNAPSHOT.jar --spring.profiles.active=prod
    healthCheckPath: /api/canchas
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: DB_HOST
        value: dpg-d5qf88c9c44c73d1tlag-a
      - key: DB_PORT
        value: 5432
      - key: DB_NAME
        value: reservacancha
      - key: DB_USERNAME
        value: reservacancha
      - key: DB_PASSWORD
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: DB_DRIVER
        value: org.postgresql.Driver
      - key: DB_DIALECT
        value: org.hibernate.dialect.PostgreSQLDialect
      - key: FRONTEND_URL
        value: https://reservacancha-frontend.onrender.com

  # Frontend Angular
  - type: web
    name: reservacancha-frontend
    env: static
    plan: free
    buildCommand: cd frontend && npm install && npm run build -- --configuration production
    staticPublishPath: frontend/dist/reservacancha-frontend
    routes:
      - type: rewrite
        source: /*
        destination: /index.html

