services:
  # Backend Spring Boot
  - type: web
    name: reservacancha-backend
    plan: free
    buildCommand: cd backend && ./mvnw clean package -DskipTests
    startCommand: cd backend && java -jar target/reservacancha-backend-0.0.1-SNAPSHOT.jar --spring.profiles.active=prod
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: DB_HOST
        value: dpg-d5qf88c9c44c73d1tlag-a.oregon-postgres.render.com
      - key: DB_PORT
        value: 5432
      - key: DB_NAME
        value: reservacancha
      - key: DB_USERNAME
        value: reservacancha
      - key: DB_PASSWORD
        sync: false
      - key: FRONTEND_URL
        value: https://reservacancha-frontend.onrender.com

  # Frontend Angular
  - type: web
    name: reservacancha-frontend
    env: static
    plan: free
    buildCommand: cd frontend && npm install && npm run build
    staticPublishPath: frontend/dist/reservacancha-frontend
    routes:
      - type: rewrite
        source: /*
        destination: /index.html

